<div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
      <input 
        type="text" 
        class="form-control"
        #serverNameInput 
        >
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
      <label>Server Content</label>
      <input 
        type="text" 
        class="form-control" 
        #serverContentInput
        >
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddServer(serverNameInput)">Add Server</button>
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint</button>
    </div>
  </div>
  <!-- a button is emitting a click. On that click you can attach a handler.a handler is eg OonAddBluePrint-->